/* -- [Base Styles] --*/
*{
	box-sizing: border-box;
	margin: 0;
}
body, html{
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	size:32px;

    margin: 0;
    padding: 0;
    height:100%;
    max-width:100%;
    max-height:100%;
    overflow:hidden;
    background-color: #1A1A1D;
}

p{
	font-size:16px;
	font-weight:300;
}

.header{
	background-color:#FFFFFF;
	padding-left:5px;
	padding-top:5px;
	padding:g.5em;
	overflow: hidden;
    width=20%;
    height=auto;
}

.overall-wrapper{
	min-height: 100%;
	position: relative;
}
.content{
	padding: 1em;
}

.column-left{
    float:left;
    width:33%;
}
.column-center{
    display:inline-block;
    width:33%;
}
.column-right{
    float:right;
    width:33%;
}

.widget-box{
	/*background-color: #fff;*/
	background-color: #1A1A1D;
	padding: 1em;
	/*border-radius: 10px;*/
	margin: 1em;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
/* Buttons */
#search-box{
	height: 30px;
}
#search-button{
	height: 30px;
	width: 50px;
	
	position: relative;
}
/* Login styles */
.login-content{
	padding: 5em 1em;
}
#main-content{
    display:none;
}
.login-field{
	background-color:#1A1A1D;
	color:#FFFFFF;
	font-size:20px;
	font-weight:300;
	border-style:none;
	width: 98%;
}
.buySell-field{
	background-color:#1A1A1D;
	color:#FFFFFF;
	font-size:14px;
	font-weight:300;
	border-style:none;
	width: 98%;
}
#searchInput{
	background-color:#1A1A1D;
	color:#FFFFFF;
	font-size:20px;
	font-weight:300;
	border-style:none;
	width: 98%;
}
#login-username{
    padding-bottom:10px;
}
#login-password{

}
.login-box{
	padding-top: 2em;
	margin: auto;
	max-width: 400px;
}
input:focus{
	outline:none;
}
.forget-password-field{
	display: none;
}
.button-wrapper{
	padding: 1em 0;
	text-align: center;
}
.button-buySell{
	background-color: #F0F0F0;
	color: #777;
	font-size: 14px;
	font-weight:300;
	height: 1.5em;
	width: 10em;
	cursor: pointer;
	border: none;
}
.button{
	background-color: #F0F0F0;
	color: #777;
	font-size: 16px;
	font-weight:300;
	height: 2.5em;
	width: 12em;
	cursor: pointer;
	border: none;
}
.button:hover{
	background-color: #ccc;
}
.button:active{
	background-color: #ccc;
}
/* Footer */
footer{
	background-color: #222;
	border-style:solid;
	border-color:#000;
	color: #fff;
	padding: 1em;
	text-align: center;
	width: 100%;
}

a {
    color:white;
}

/* -- [Media Query 1] --*/
@media only screen and (min-width: 25em){
	.login-content{
		padding: 9.5em 2em;
	}
	.button-wrapper{
		text-align: left;
	}
	.button{
		width: 10em;
	}
}
