/* -- [Base Styles] --*/
*{
	box-sizing: border-box;
	margin: 0;
}
body, html{
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*color:#F0F0F0;*/
	size:32px;

    margin: 0;
    padding: 0;
    height:100%;
    max-width:100%;
    max-height:100%;
    /*overflow:hidden;*/
    background-color: #1A1A1D;
}

p{
	font-size:16px;
	font-weight:300;
}

th, td {
	padding: 3px; 
}
td {
	font-weight:300;
}

.header{
	background-color:#F0F0F0;
	padding-left:5px;
	padding-top:5px;
	padding:.5em;
	overflow: hidden;
    min-height:3em;
    height:auto;
    width:auto;
}
#logo{
    width:auto;
    float:left;
    padding-right:10px;
    /*min-width:30%;*/
    height:10vh;
    /*min-height:30%;*/
}
#clock{
    display:inline;
    font-weight:300;
    font-size:18px;
}
#user-section{
    display:inline;
}
div.inline{
    float:left;
    padding-top:20px;
    padding-right:35px;
    font-size:18px;
}
#inline-logout{
    padding-right:10px;
}
p#username{
    font-size:18px;
}
p#balance{
    font-size:18px;
}

#logout:link{
    /*float:right;*/
	text-decoration:none;
}

.overall-wrapper{
	min-height: 100%;
	position: relative;
}
.content{
	padding: 1em;
}



.widget-box{
	background-color: #F0F0F0;
	/*background-color: #1A1A1D;*/
	padding: 1em;
	/*border-radius: 10px;*/
	margin: 1em;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#search-section{
	max-height: 80px
}
#search-box{
	height: 30px;
	width: 98%;
	background-color:#F0F0F0;
	color:#000;
	font-size:16px;
	font-weight:300;
	border-style:none;
}

#CSV-section{
    width:auto;
    height:100px;
    text-align:center;
}

/* Login styles */
.login-content{
	padding: 5em 1em;
}
.login-box{
	background-color: #1A1A1D;
}
.login-field{
	background-color: #1A1A1D;
	color: #F0F0F0;
	/*color: #1A1A1D;*/
	font-size:20px;
	font-weight:300;
	border-style:none;
	width: 98%;
}
.buySell-field{
	background-color:#F0F0F0;
	color:#000;
	font-size:16px;
	font-weight:300;
	border-style:none;
	width: 98%;
	padding-bottom:1em;
}
#tickerInput, #search-box{
    text-transform:uppercase;
}
#qty{
    width:50%;
    padding-bottom:0;
}
#searchInput{
	background-color:#1A1A1D;
	color:#FFFFFF;
	font-size:20px;
	font-weight:300;
	border-style:none;
	width: 98%;
}
#login-username{
    padding-bottom:10px;
}
#login-password{

}
.login-box{
	padding-top: 2em;
	margin: auto;
	max-width: 400px;
}
input:focus{
	outline:none;
}
.forget-password-field{
	display: none;
}
/* Buttons */
.button-wrapper{
	padding: 1em 0;
	text-align: center;
}
.button{
	background-color: #F0F0F0;
	/*color: #777;*/
	font-size: 16px;
	font-weight:300;
	height: 2.5em;
	width: 12em;
	cursor: pointer;
	border: none;
	text-align:center;
}
.button:hover{
	background-color: #ccc;
}
.button-buySell{
	background-color: #F0F0F0;
	font-size: 16px;
	font-weight:300;
	height: 2.5em;
	width: 12em;
	cursor: pointer;
	border: none;
    text-align:left;
}
.button-buySell:hover{
	background-color: #ccc;
}
.button-fileUpload{
	width: 0.1px;
	height: 0.1px;
	opacity:0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.button-fileUpload + label{
	height: 2.5em;
	width: 12em;
	background-color: #F0F0F0;
	font-size: 16px;
	font-weight:300;
	cursor: pointer;
	border: none;
	text-align:center;
}
.button-fileUpload:focus + label,
.button-fileUpload + label:hover{
	background-color: #ccc;
}
#canvas{
    height:200px;
    width:200px;
}
.graph-button{
	font-size: 10px;
	margin-bottom: .5em;
}
/* Footer */
footer{
    background-color: #1A1A1D;
	padding: 1em;
	text-align: center;
	width: 100%;
}
small{
    color:#FFFFFF;
}
a {
    color:#000000;
	font-weight:300;
}
.contact{
    color:#FFFFFF;
	font-weight:300;
	text-decoration:none;
}
a.contact:hover{
    color:#F28032;
	font-weight:300;
}
#logout:link{
	text-decoration:none;
}
#logout:hover{
    color:#F28032;
}
#manual:link{
	text-decoration:none;
}
#manual:hover{
    color:#F28032;
}
/* Dropdown styles */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 98%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-height: 10em;
    overflow: scroll;
}

/* Links inside the dropdown */
.dropdown-content .menu-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content .menu-item:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* -- [Media Query 1] --*/
@media only screen and (min-width: 15em){
	.login-content{
		padding: 9.5em 2em;
	}

	/* buttons */
	.button-wrapper{
		text-align: left;
	}
	.button{
		width: 10em;
		text-align:center;
		padding-left:0px;
	}
	.graph-button{
		width: 6em;
	}
}
@media only screen and (min-width: 25em){
	.login-content{
		padding: 9.5em 2em;
	}

	/* buttons */
	.button-wrapper{
		text-align: left;
	}
	.button{
		width: 10em;
		text-align:center;
		padding-left:0px;
	}
	.graph-button{
		width: 6em;
	}
	#logout{
        float:left;
    }
}

@media only screen and (min-width: 50em){
	.float-wrapper{
		float: left;
		width: 100%;
	}
	#center-area{
		float: right;
		width: 60%;
	}
	#left-area{
		float: left;
		width: 40%;
	}
	#user-section{
		float: right;
        display:block;
	}
	div.inline{
    }

	/* clear float */
	.clearfix:before,
	.clearfix:after{
		content:" ";
		display: table;
	}
	.clearfix:after{
		clear:both;
	}
	.clearfix{
		*zoom:1;
	}

}
